body, html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100%;
}

body{
  background-image: linear-gradient(141deg, #d5b5e7 20%, #a980c0 60%, #9b64bb 80%);
  background-attachment: fixed;
}
form{
  padding-top: 20px;
}

.form__login{
  margin-top: 50px;
}

.toast.error{
  background-color: red;
}
.toast.success{
  background-color: chartreuse;
}




@media only screen and (max-width: 768px){

  .card{
    margin-top: 40px;
    max-width: 320px;
    box-shadow: -25px 5px 30px -30px black, 25px 5px 30px -30px black;
  }

  .card__shadow{
    height: 30px;
    width: calc(100% - 100px);
    max-width: calc(100% - 50px);
    box-shadow: 0px 60px 40px -5px;
    position: absolute;
    bottom: 0;
  }
}
